html {
  background-color: gray;
}

h1 {
  color: darkgreen;
  font-weight: bold;
  font-size: 40px;
  line-height: 2.5;
  text-align: center;
}

h2 {
  color: black;
  font-weight: bold;
  font-size: 30px;
  text-align: left;
}
ul {
  line-height: 3;
  width: 40%;
  text-align: left;
  font-size: 20px;
}
footer {
  text-align: center;
  bottom: 10%;
}
img {
  width: 40%;
  right: 4em;
  top: 10em;
  position: fixed;
}
